<div class="container favorites">


<nav class="navbar navbar-expand-md navbar-light bg-faded">
<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
<a class="navbar-brand" href="#">MyApp</a>

<div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <a class="nav-link" [routerLink]="['/']">Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/fav']">favourites</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#">Disabled</a>
    </li>
  </ul>
  </div>
</nav> 

<!-- 
  <div class="row">
    <div class="col-md-4 text-center mb-5" *ngFor="let data of list">
      <div class="card">
        <div class="card-body">
          
          <h2>Date: {{data.date}}</h2>
          <h2>MinTemp: {{data.mintemp}}</h2>
          <h2>MaxTemp: {{data.maxtemp}}</h2>
          
          <button class="btn btn-danger ml-2" (click)="delete(data._id)">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div> -->
 <div class="row">
    <div class="col-md-4 text-center mb-5" *ngFor="let data of list">
<figure class="snip0078 hover blue">
  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample4.jpg" alt="sampl45" />
  <figcaption>
          <p>Date: {{data.date}}</p>
          <p>MinTemp: {{data.mintemp}}</p>
          <p>MaxTemp: {{data.maxtemp}}</p>
          
          <button class="btn btn-danger ml-2" (click)="delete(data)">Delete</button>
  </figcaption>
</figure>
</div>
</div>