
<!-- <h1>{{title}}</h1> -->
<!-- <h2>{{hero.name}}</h2>
 <div><label>id: </label>{{hero.id}}</div>
  <div>
  <label>name: </label>
  <input [(ngModel)]="hero.name" placeholder="name">
</div> -->
<!-- h2> Heroes</h2>
 <div><label>id:</label>{{selectedHero.id}}</div>
<div><label>name:</label>
<input [(ngModel)] ="selectedHeroName" placeholder="name">
</div>  -->
<!-- {{selectedHeroName}}
 -->
<!--  <ul class = "heroes">
<li *ngFor ="let hero of heroes" [class.selected]="hero === selectedHero" (click)="onSelect(hero)">
<span class="badge">{{hero.id}}</span> {{hero.name}}                                                      //imp
</li>
</ul> -->
<a routerLink="/heroes">Heroes</a>
     <router-outlet></router-outlet>

<app-hero-detail [hero]="selectedHero"></app-hero-detail>
<app-heroes></app-heroes>